body {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    background-color: #fdfdfd;
}

.shadow {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}

.btn-danger {
    color: #fff;
    background-color: #f00000;
    border-color: #dc281e;
}

.masthead {
    background: #74c2bb;
    height: auto;
    padding-bottom: 15px;
    box-shadow: 0 16px 48px #E3E7EB;
    padding-top: 10px;
}

/*------------------------------------------Carousel*/
.home-image {
    padding-bottom: 5px;
    border-bottom: 4px solid #74c2bb;
}

/*-------------------------------------------sidebar style*/

.card {
    box-shadow: 0 16px 48px #E3E7EB;
}

.tag {
    position: relative;
    z-index: 10000;
}
/*------------------------------------------index style*/

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    background-color: #fdfdfd;
}

.head_text {
    color: white;
}

.card {
    box-shadow: 0 16px 48px #E3E7EB;
}

/*------------------------------------------Google Map*/

div#map {min-height: 360px;}

#map {
    padding-top: 30px;
    padding-bottom: 30px;
}

/*----------------------------------------about/contact page*/

.h1-title {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: "Roboto", sans-serif;
    color: #586271;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;

}
/*-----------------------------------heading for about/index/contact*/
.h2-title {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: "Roboto", sans-serif;
    color: #586271;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.about-text {
    padding-top: 2px;
    padding-bottom:30px;
    font-family: "Roboto", sans-serif;
    color: #121213;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    letter-spacing: 3px;
    border-bottom: 6px solid #74c2bb;
    
}

.contact-info {
    padding-top: 2px;
    padding-bottom: 10px;
    font-family: "Roboto", sans-serif;
    color: #121213;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-bottom: 6px solid #74c2bb;
}

.contact-text {
    padding-top: 2px;
    padding-bottom: 30px;
    font-family: "Roboto", sans-serif;
    color: #121213;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    letter-spacing: 3px;
    border-bottom: 6px solid #74c2bb;
}

/*--------------------------------------------------Home Page*/
.home h4 {
text-align: center;
letter-spacing: 5px;
}

.home p {
    padding-top: 2px;
    padding-bottom: 10px;
    font-family: "Roboto", sans-serif;
    color: #121213;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    letter-spacing: 3px;
    border-bottom: 2px solid #74c2bb;
}

.nav-title {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.banner-home {
    text-transform: uppercase;
    letter-spacing: 3px;
}

/*-----------------------------------packages img top of page*/
.img-fluid {
    width: 100%;
    height: auto;
}


/*-----------------------------------Package 1*/
.pack-one h1 {
    padding-top: 40px;
    padding-bottom: 10px;
    font-family: "Roboto", sans-serif;
    color: #586271;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.pack-one h2 {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: "Roboto", sans-serif;
    color: #586271;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    border-bottom: 2px solid #74c2bb;
}

.pack-one p {
    padding-top: 2px;
    padding-bottom: 10px;
    font-family: "Roboto", sans-serif;
    color: #121213;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}

/*------------------------------------------------------Accounts*/

/*-----------------------------------------sign up page*/
.style-sign-up {
    text-align: center;
    padding-bottom: 140px;
}

.style-sign-up h1 {
    padding-top: 40px;
    padding-bottom: 10px;
    font-family: "Roboto", sans-serif;
    color: #586271;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.style-sign-up p {
    padding-top: 2px;
    padding-bottom: 10px;
    font-family: "Roboto", sans-serif;
    color: #121213;
    padding-right: 20px;
    padding-left: 20px;
    letter-spacing: 3px;
}

.style-sign-up form {
    padding-top: 2px;
    padding-bottom: 10px;
    font-family: "Roboto", sans-serif;
    color: #121213;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    letter-spacing: 3px;
}

.style-sign-up button {
    border-radius: 12px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/*-----------------------------------------sign in page*/
.login-style {
    text-align: center;
    padding-bottom: 200px;
}

.login-style h1 {
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: "Roboto", sans-serif;
    color: #586271;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.login-style p {
    padding-top: 2px;
    padding-bottom: 10px;
    font-family: "Roboto", sans-serif;
    color: #121213;
    padding-right: 20px;
    padding-left: 20px;
    letter-spacing: 3px;
}

.login-style form {
    padding-top: 2px;
    padding-bottom: 10px;
    font-family: "Roboto", sans-serif;
    color: #121213;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    letter-spacing: 3px;
}

.login-style button {
    border-radius: 12px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*-----------------------------------------verify email page*/
.verify-message {
    text-align: center;
    padding-bottom: 430px;
}

.verify-message h1 {
    padding-top: 60px;
    padding-bottom: 20px;
    font-family: "Roboto", sans-serif;
    color: #586271;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.verify-message p {
    padding-top: 4px;
    padding-bottom: 10px;
    font-family: "Roboto", sans-serif;
    color: #121213;
    padding-right: 40px;
    padding-left: 40px;
    letter-spacing: 3px;
}
/*-----------------------------------------sign out page*/
.log-out {
    text-align: center;
    padding-bottom: 340px;
}

.log-out h1 {
    padding-top: 60px;
    padding-bottom: 20px;
    font-family: "Roboto", sans-serif;
    color: #586271;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.log-out p {
    padding-top: 4px;
    padding-bottom: 10px;
    font-family: "Roboto", sans-serif;
    color: #121213;
    padding-right: 40px;
    padding-left: 40px;
    letter-spacing: 3px;
}

.log-out button {
    border-radius: 12px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*-----------------------------------------Change email page*/

.email-change {
    text-align: center;
    padding-bottom: 80px;
}

.email-change h1 {
    padding-top: 60px;
    padding-bottom: 20px;
    font-family: "Roboto", sans-serif;
    color: #586271;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.email-change p {
    padding-top: 4px;
    padding-bottom: 10px;
    font-family: "Roboto", sans-serif;
    color: #121213;
    padding-right: 40px;
    padding-left: 40px;
    letter-spacing: 3px;
}

.email-change form {
    padding-top: 2px;
    padding-bottom: 10px;
    font-family: "Roboto", sans-serif;
    color: #121213;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    letter-spacing: 3px;
}

.email-change button {
    border-radius: 12px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.email-change h2 {
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: "Roboto", sans-serif;
    color: #586271;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
}

/*-----------------------------------------Change password page*/
.password-change {
    text-align: center;
    padding-bottom: 200px;
}

.password-change h1 {
    padding-top: 60px;
    padding-bottom: 20px;
    font-family: "Roboto", sans-serif;
    color: #586271;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.password-change p {
    padding-top: 4px;
    padding-bottom: 10px;
    font-family: "Roboto", sans-serif;
    color: #121213;
    padding-right: 60px;
    padding-left: 60px;
    letter-spacing: 3px;
}

.password-change form {
    padding-top: 2px;
    padding-bottom: 10px;
    font-family: "Roboto", sans-serif;
    color: #121213;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    letter-spacing: 3px;
}

.password-change input {
    border-radius: 12px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}