{% extends "base.html" %}

{% block content %}

<h1 class="h1-title">Where it all started</h1>
<p class="about-text">Around five years ago I was approached to teach at a local cooking class which I jumped to the opportunity to be
    apart of. Since then I've taught hundreds of people new and exciting ways to cook through The Online Cooking Guide and as a guest to cooking classes taken place across Ireland and the UK. We have a real passion for cooking and learning new ways to cook and we ultimately we want to train our students to be the best cooks they can be as well. We are on a range of social networking platforms; Facebook, Instagram and Pinterest, and are hoping to get into the world of TikTok soon! We hope you enjoy learning how to cook with us and why not check out some of our free recipes before buying one of our packages! <br> - Happy Cooking!</p>


<h1 class="h1-title">Get to know our coaches</h1>
<div class="container">
    <div class="row">
        <!----------------------------------------------Coach 1 (Niamh)-->

        <div class="card col-sm" style="width: 18rem;">
            <img src="https://scontent.fgla3-2.fna.fbcdn.net/v/t1.18169-9/17424604_1329941830423983_5773259116547775737_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=L9Zv5XQoDC8AX8ZdIiA&_nc_ht=scontent.fgla3-2.fna&oh=00_AT_4iHmemVoj76h7I0iTXXw2oHzIv85MxYTqEKNTG8vXOQ&oe=62161AC4"
                class="card-img-top" alt="image of coach Niamh">
            <div class="card-body">
                <h3>Niamh</h3>
                <p class="card-text">Hi, I'm Niamh! I've been a cooking coach at The Online Cooking Guide for a year
                    now. I'm a self-taught cook and
                    have worked in restaurants from the age of 13. I can't wait to start helping you learn and adapt new
                    cooking
                    skills.</p>
            </div>
        </div>

        <!----------------------------------------------Coach 2 (Kevin)-->
        <div class="card col-sm" style="width: 18rem;">
            <img src="https://scontent.fgla3-2.fna.fbcdn.net/v/t1.18169-9/155729_115145108551628_7086950_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=cjGauP8VXR4AX9p3IDV&_nc_ht=scontent.fgla3-2.fna&oh=00_AT8rCbYbCNQy1tbhAOm9RKkduLhb0t72kVngx35cu1LU6Q&oe=6218AA68"
                class="card-img-top" alt="image of coach Kevin">
            <div class="card-body">
                <h3>Kevin</h3>
                <p class="card-text">Hi, I'm Kevin. I've been a chef and owned my own restaurants across Northern
                    Ireland for 15 years now. I can't wait to share some of my tips and tricks with you guys!</p>
            </div>
        </div>
    
        <!----------------------------------------------Coach 3 (Hannah)-->
        <div class="card col-sm" style="width: 18rem;">
            <img src="https://scontent.fgla3-2.fna.fbcdn.net/v/t1.6435-9/186491327_5583777111696878_3393243618555832361_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=9267fe&_nc_ohc=9KLy7QOTN9oAX_wsJ2U&_nc_ht=scontent.fgla3-2.fna&oh=00_AT8eULhl4EyZ_tX1WjvVzJUN6WZod0lSGvmEMPYW106PQg&oe=621793CE"
                class="card-img-top" alt="image of coach Hannah">
            <div class="card-body">
                <h3>Hannah</h3>
                <p class="card-text">Hi, I'm Hannah. I'm a self taught baker and have owned my own bakery for 2 years
                    now. I can't wait to share some
                    of my most popular recipes with you!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}