{% extends "base.html" %}

{% block content %}
<h1>Get to know our coaches</h1>
<div>
    <h2>Niamh</h2>
    <p>Hi, I'm Niamh! I've been a cooking coach at The Online Cooking Guide for a year now. I'm a self-taught cook and
        have worked in restaurants from the age of 13. I can't wait to start helping you learn and adapt new cooking
        skills.</p>
</div>
    <h2>Kevin</h2>
    <p>Hi, I'm Kevin. I've been a chef and owned my own restaurants across Northern Ireland for 15 years now.</p>
<div>

</div>
{% endblock %}