{% extends "base.html" %}

{% block content %}

<h1>Where it all started</h1>
<p>Around five years ago I was approached to teach at a local cooking class which I jumped to the opportunity to be apart of it.  Since then I've taught hundreds of people new and exciting ways to cook. </p>


<h1>Get to know our coaches</h1>
<!----------------------------------------------Coach 1 (Niamh)-->

<div>
    <h2>Niamh</h2>
    <p>Hi, I'm Niamh! I've been a cooking coach at The Online Cooking Guide for a year now. I'm a self-taught cook and
        have worked in restaurants from the age of 13. I can't wait to start helping you learn and adapt new cooking
        skills.</p>
</div>
<!----------------------------------------------Coach 2 (Kevin)-->
<div>
    <h2>Kevin</h2>
    <p>Hi, I'm Kevin. I've been a chef and owned my own restaurants across Northern Ireland for 15 years now.</p>
</div>
<!----------------------------------------------Coach 3 (Hannah)-->
<div>
    <h2>Hannah</h2>
    <p>Hi, I'm Hannah. I'm a self taught baker and have owned my own bakery for 2 years now. I can't wait to share some of my most popular recipes with you!</p>
</div>
{% endblock %}