{% extends "base.html" %}
{% load static %}

{% block content %}
<h1 class="h1-title">Contact Us <i class="far fa-address-book"></i></h1>
<p class="contact-text">To get in contact with us for any queries about purchasing packages or how our packages work you can use the details provided below.<br> Once you have bought one of our packages you will be emailed out coach contact details along with the course content.  The contact details of our coaches can be used at anytime and are there so students can get imediate responses for questions to do with their learning.</p>
<h2 class="h2-title">How do you get in touch?</h2>
<!----------------------------------------------Contact details-->
<div class="contact-info">

    <p><a href="tel:07803123822"><i class="fas fa-phone"></i> Tel: 07803123822</p></a>
    <p><a href = "mailto: onlinecooking@gmail.com"><i class="fas fa-at"></i> Email: onlinecooking@gmail.com</p></a>
    <p><i class="fas fa-mail-bulk"></i> Mail: 15 Mullaslin Road, <br> Carrickmore, <br> Omagh, <br> BT79 9PQ, <br> Northern Ireland</p>

</div>
<!-----------Heading for map-->
<h2 class="h2-title"><i class="fas fa-map-marker-alt"></i> Where are we based?</h2>
<!-------- google maps -->
<div id="map"></div>
<!----------------Script for API-->

<script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzy44P8RO-L2fSDnOvLpc15dOFl06CNtI&callback=initMap&libraries=&v=weekly"
    async></script>
<script src="{% static 'js/maps.js' %}"></script>
{% endblock %}