{% extends "base.html" %}

{% block content %}
<h1>Contact Us</h1>
<h2>How do you get in contact with us?</h2>
<!----------------------------------------------Contact details-->
<ul>
    <li>Tel: 08346178920</li>
    <li>Email: onlinecooking@gmail.com</li>
    <li>Mail: 15 Mullaslin Road, <br> Carrickmore, <br> Omagh, <br> BT79 9PQ, <br> Northern Ireland</li>
</ul>

<!-----------Heading for map-->
<h2>Where are we based?</h2>
<!-------- google maps -->
<div id="map"></div>
<!----------------Script for API-->

<script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzy44P8RO-L2fSDnOvLpc15dOFl06CNtI&callback=initMap&libraries=&v=weekly"
    async></script>
<script src="{% static 'js/maps.js' %}"></script>
{% endblock %}