{% extends "base.html" %}
{% block content %}

{% block sidebar %}

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">Try before you buy...</h5>
        <div class="card-body">
            <p class="card-text"> We want to help beginers with the basics of cooking and give more insight to
                experienced cooks! To kick start your training we've included some free recipes for you to try out
                before purchasing one of our packages! The recipes we've chosen to share with you are some of our most
                popular to date. We hope you love them as much as we do. Click the button below to find recipes!</p>
            <a href="{% url 'post_list' %}" class="btn btn-danger">Start cooking!</a>
        </div>
    </div>
</div>

{% endblock sidebar %}
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Welcome to The Online Cooking Guide </h3>
                    <p class="text-light">Do you love learning new recipes as much as we do? &nbsp
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}