{% extends "base.html" %}
{% block content %}

{% include 'sidebar.html' %}

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Welcome to The Online Cooking Guide </h3>
                    <p class="text-light">Do you love learning new recipes as much as we do? &nbsp
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!------------------------------------------Carousel from Bootstrap-->
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://scontent.fgla3-1.fna.fbcdn.net/v/t1.6435-9/174169753_2949645558602317_5291954308966908644_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=a26aad&_nc_ohc=Vt04VJ9Tjb8AX9DgT16&_nc_ht=scontent.fgla3-1.fna&oh=00_AT-MuZh8kZWf_dGJQVrZ9SyGWOOtJGo1sWNZBXizOT2XPA&oe=62170BA1" class="d-block w-100" alt="chicken dish">
      </div>
      <div class="carousel-item">
        <img src="https://scontent.fgla3-2.fna.fbcdn.net/v/t1.6435-9/173199662_2948127038754169_7647493783910065318_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=9267fe&_nc_ohc=ppH4ETgwuDkAX_WfG7F&_nc_ht=scontent.fgla3-2.fna&oh=00_AT8ulhzS2lI41nMzrlQT3i76YT2GomkG8zsUxYRO9TWtEg&oe=6214BA19" class="d-block w-100" alt="chicken wings">
      </div>
      <div class="carousel-item">
        <img src="https://scontent.fgla3-2.fna.fbcdn.net/v/t1.6435-9/156349039_2914677532099120_5076885417789570528_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=9267fe&_nc_ohc=llE93HMaGVgAX-dU_Sy&_nc_ht=scontent.fgla3-2.fna&oh=00_AT8-GwoPjfstSuqO0JNrKvIgBS16CBkYV0VmCbLrAHdigA&oe=62163711" class="d-block w-100" alt="burgers">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!--------------------------------------------------------------------Reviews left by former students-->
  <div>
      <h2>Kind Words...</h2>
      <h4>⭐️⭐️⭐️⭐️⭐️</h4>
      <p>I enjoyed the online cooking guides recipes.  I liked that they offered potential customers free recipes to trial before actually purchasing one of their packages.  I myself went for the bakery package and enjoyed learning new tips and ticks.  I liked that once you purchased the package they say it'll up to 24 hours to recieve it in your emails however mine came within a couple of hours. The coaches were very helpful as well, if you had any questions they'd email you back as soon as they could (sometimes that was straight away).</p>

      <h4>⭐️⭐️⭐️⭐️⭐️</h4>
      <p>I purchased the beginners package and I can tell you that I am now no longer a beginner cook.  I've learnt so many new dishes and I love cooking for family and friends now as well.  The package content was sent through very quickly and the coaches were always there to help.  If you needed an answer straight away (which didn't happen often as the instructions are so detailed) they were only a phone call away. I'd highly recommend The Online Cooking Guide if you want to broaden your skills in the kitchen.</p>

      <h4>⭐️⭐️⭐️⭐️⭐️</h4>
      <p>I found the package contents very useful.  I went for the experienced package which had more difficult recipes in and I loved challenging myself.  I never had to contact the coaches however they emailed here and there to see how my new skills were coming along.  The website is easy to follow which makes purchasing the plans so much easier.  I like that the company is so personal in sending the course material themselves and not automated, it shows they care about their students. I've completed the experienced package and am now going to try out the bakery package. </p>

      <h4>⭐️⭐️⭐️⭐️⭐️</h4>
      <p>With previous online cooking classes I could never get comfortable with cooking. A friend recommended me to this page and it has changed my whole outlook on cooking.  I initially tried out one of the free recipes to try out and my family loved how it turned out so I decided to buy the beginners package.  It included so many easy to follow recipes.  The coaches were always there to offer support and encourage me to keep up my cooking, giving me simple tips that would majorly in the kitchen.  I'm recommending this company onto all my friends and family.</p>
  </div>
{% endblock %}