{% extends "package_base.html" %}
{% block content %}
<!---------------------------------------------Heading-->
<div class="pack-one">
    <h1>Package one<br>£25.00 </h1>
    <h2>Everything you need to know about Baking</h2>
</div>

<!---------------------------------------------Image-->
<img src="https://2f35da97a9ad36d49db6-4d1987fef3a36cccd5478db4931039f0.ssl.cf3.rackcdn.com/assets/media/2021/04/SocialMedia_Americas_BeyondBakedGood_Blog_1000x305.jpg"
    class="img-fluid" alt="Responsive image">

<!-----------------------------------------------sidebar for try before you buy-->
<div class="col-md-4 float-right tag">
    <div class="card my-4">
        <h5 class="card-header">Try before you buy...</h5>
        <div class="card-body">
            <p class="card-text"> We want to help beginners with the basics of cooking and give more insight to
                experienced cooks! To kick start your training we've included some free recipes for you to try out
                before purchasing one of our packages! The recipes we've chosen to share with you are some of our most
                popular to date. We hope you love them as much as we do. Click the button below to find recipes!</p>
            <a href="{% url 'post_list' %}" class="btn btn-danger">Start cooking!</a>
        </div>
    </div>
</div>

<div class="container pack-one">
    <!---------------------------------------------Information about course content-->
    <h2><i class="fas fa-cookie-bite"></i> What's included in this package?</h2>
    <p>Lessons from basics to highly skilled</p>
    <p>Recipes for old classics and modern bakes</p>
    <p>Access to coaches with baking expertise</p>
    <p>Hundred's of tips and tricks used by some of the best bakers in the world</p>

    <!---------------------------------------------Add to basket button-->
    <a href="#" class="btn btn-primary">ADD TO BASKET <i class="fas fa-shopping-cart"></i></a>
</div>
{% endblock %}