{% extends "base.html" %}

{% block content %}
{% block sidebar %}

    <style>
        .card {
            box-shadow: 0 16px 48px #E3E7EB;
        }
    </style>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4 float-right ">
        <div class="card my-4">
            <h5 class="card-header">Try before you buy...</h5>
            <div class="card-body">
                <p class="card-text"> We want to help beginers with the basics of cooking and give more insight to
                    experienced cooks! To kick start your training we've included some free recipes for you to try out before purchasing one of our packages! The recipes we've chosen to share with you are some of our most popular to date. We hope you love them as much as we do. Click the button below to find recipes!</p>
                <a href="{% url 'post_list' %}" class="btn btn-danger">Start cooking!</a>
            </div>
        </div>
    </div>

    {% endblock sidebar %}
<h1>Check out our packages...</h1>
<div class="container">
    <div class="row">
<!----------------------------------------------Package 1 thumbnail-->
<div class="card" style="width: 18rem;">
    <img src="https://scontent.fgla3-2.fna.fbcdn.net/v/t39.30808-6/269278795_6719218441486067_1690539226220900939_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=a26aad&_nc_ohc=CyI9_CPusgYAX99sxin&_nc_oc=AQkKJvIoOfv4BrBraPEuDSjWyggH_GBNXBZ8opnyhZ55JHmRjlUGlH02O9JKYu8dT6M96jD6_u8YsHKiPuCcPy_p&_nc_ht=scontent.fgla3-2.fna&oh=00_AT-aM5LJ-iUB7pMWnurzNoh9EoHXUahDUoa4Z0_B5KyWDA&oe=61F604B7" class="card-img-top" alt="image of cinnamon rolls">
    <div class="card-body">
      <h5 class="card-title">Package 1</h5>
      <p class="card-text">In our <em>Baking Package</em> you will learn the basics to baking and will learn new skills that you can put into practice with all types of baking.</p>
      <a href="{% url 'one_package' %}" class="btn btn-primary">Read More &rarr;</a>
    </div>
  </div>

<!----------------------------------------------Package 2 thumbnail-->
<div>
    <h2>Package 2</h2>
    <h4>This Packages includes:</h4>
    <ol>
        <li></li>
        <li></li>
        <li></li>
    </ol>
    <a href="{% url 'two_package' %}" class="btn btn-primary">Read More &rarr;</a>
</div>

<!----------------------------------------------Package 3 thumbnail-->
<div>
    <h2>Package 3</h2>
    <h4>This Packages includes:</h4>
    <ol>
        <li></li>
        <li></li>
        <li></li>
    </ol>
    <a href="{% url 'three_package' %}" class="btn btn-primary">Read More &rarr;</a>
</div>


</div>

{% endblock %}