{% extends "base.html" %}

{% block content %}
{% block sidebar %}

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">Try before you buy...</h5>
        <div class="card-body">
            <p class="card-text"> We want to help beginers with the basics of cooking and give more insight to
                experienced cooks! To kick start your training we've included some free recipes for you to try out
                before purchasing one of our packages! The recipes we've chosen to share with you are some of our most
                popular to date. We hope you love them as much as we do. Click the button below to find recipes!</p>
            <a href="{% url 'post_list' %}" class="btn btn-danger">Start cooking!</a>
        </div>
    </div>
</div>

{% endblock sidebar %}
<div class="container">
    <h1 class="h1-title"><i class="fas fa-utensils"></i> Check out our packages <i class="fas fa-utensils"></i></h1>
    <!----------------------------------------------Package 1 thumbnail-->
    <div class="row">
    <div class="card col-sm" style="width: 18rem;">
        <img src="https://media.istockphoto.com/photos/hispanic-american-female-baker-decorating-vegan-cupcakes-picture-id1213165121?b=1&k=20&m=1213165121&s=170667a&w=0&h=GbmW_vatgIu4xmSXjbmh_CYQ5DPgcKlrd-i0HzucBeo="
            class="card-img-top" alt="image of cinnamon rolls">
        <div class="card-body">
            <h5 class="card-title">Package 1</h5>
            <p class="card-text">In our <em>Baking Package</em> you will learn the basics to baking and will learn
                new skills that you can put into practice with all types of baking.</p>
            <a href="{% url 'one_package' %}" class="btn btn-primary">Read More &rarr;</a>
        </div>
    </div>

    <!----------------------------------------------Package 2 thumbnail-->
    <div class="card col-sm" style="width: 18rem;">
        <img src="https://scontent.fgla3-2.fna.fbcdn.net/v/t1.6435-9/183833469_2969919226574950_6779234926337492793_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=9267fe&_nc_ohc=sm_Jyg4ls6kAX84Ff6G&_nc_ht=scontent.fgla3-2.fna&oh=00_AT9JgLX4C-QjVn1cSPZs9ShX8FRVsDNxSo_Yi67dhIOfzA&oe=62171A75"
            class="card-img-top" alt="image of lasagne">
        <div class="card-body">
            <h5 class="card-title">Package 2</h5>
            <p class="card-text">In our <em>Beginners Package</em> you will learn new and exciting ways of using
                ingredients to create some amazing yet simple meals. This package was created in mind for people who
                want to learn how make the most out of basic ingredients. </p>
            <a href="{% url 'two_package' %}" class="btn btn-primary">Read More &rarr;</a>
        </div>
    </div>

    <!----------------------------------------------Package 3 thumbnail-->
    <div class="card col-sm" style="width: 18rem;">
        <img src="https://www.finedininglovers.com/sites/g/files/xknfdk626/files/2021-10/S.Pellegrino-Young-Chef-Agenda.jpg"
            class="card-img-top" alt="image of chef">
        <div class="card-body">
            <h5 class="card-title">Package 3</h5>
            <p class="card-text">In our <em>Experienced Cooks Package</em> you will gain more insight to how to use your time, ingredients and facilities to your advantage.  This package is directed at people who know a lot about cooking but want to further their skills.</p>
            <a href="{% url 'three_package' %}" class="btn btn-primary">Read More &rarr;</a>
        </div>
    </div>


</div>
{% endblock %}