{% extends "base.html" %}

{% block content %}
<h1>Check out our packages...</h1>

<!----------------------------------------------Package 1 thumbnail-->
<div>
    <h2>Package 1</h2>
    <h4>This Packages includes:</h4>
    <ol>
        <li></li>
        <li></li>
        <li></li>
    </ol>
    <a href="{% url '' %}" class="btn btn-primary">Read More &rarr;</a>

</div>

<div>
    <h2>Package 2</h2>
    <h4>This Packages includes:</h4>
    <ol>
        <li></li>
        <li></li>
        <li></li>
    </ol>
    <a href="{% url '' %}" class="btn btn-primary">Read More &rarr;</a>
</div>

<div>
    <h2>Package 3</h2>
    <h4>This Packages includes:</h4>
    <ol>
        <li></li>
        <li></li>
        <li></li>
    </ol>
    <a href="{% url '' %}" class="btn btn-primary">Read More &rarr;</a>
</div>
{% endblock %}