<div class="col-md-4 float-right tag">
    <div class="card my-4">
        <h5 class="card-header">Try before you buy...</h5>
        <div class="card-body">
            <p class="card-text"> We want to help beginners with the basics of cooking and give more insight to
                experienced cooks! To kick start your training we've included some free recipes for you to try out
                before purchasing one of our packages! The recipes we've chosen to share with you are some of our most
                popular to date. We hope you love them as much as we do. Click the button below to find recipes!</p>
            <a href="{% url 'post_list' %}" class="btn btn-danger">Start cooking!</a>
        </div>
    </div>
</div>