{% extends "package_base.html" %}
{% block content %}
<!---------------------------------------------Heading-->
<div class="pack-one">
    <h1>Package three<br>£35.00 </h1>
    <h2>The package for experienced cooks</h2>
</div>

<!---------------------------------------------Image-->
<img src="https://media.istockphoto.com/videos/modern-kitchen-and-busy-chefs-time-lapse-video-id472108486?s=640x640"
    class="img-fluid" alt="image of busy kitchen">


<!-----------------------------------------------sidebar for try before you buy-->
<div class="col-md-4 float-right tag">
    <div class="card my-4">
        <h5 class="card-header">Try before you buy...</h5>
        <div class="card-body">
            <p class="card-text"> We want to help beginners with the basics of cooking and give more insight to
                experienced cooks! To kick start your training we've included some free recipes for you to try out
                before purchasing one of our packages! The recipes we've chosen to share with you are some of our most
                popular to date. We hope you love them as much as we do. Click the button below to find recipes!</p>
            <a href="{% url 'post_list' %}" class="btn btn-danger">Start cooking!</a>
        </div>
    </div>
</div>

<div class="container pack-one">
<!---------------------------------------------Information about course content-->
<h2>What's included in this package?</h2>
<p>Access to trained coaches</p>
<p>step by step recipes for complex dishes</p>
<p>Insight to cuisines from around the world</p>
<p>Learn new tips and tricks used by michelin star chefs</p>

<!---------------------------------------------Add to basket button-->
<a href="#" class="btn btn-primary">ADD TO BASKET <i class="fas fa-shopping-cart"></i></a>
</div>
{% endblock %}