{% extends "package_base.html" %}
{% block content %}
<!---------------------------------------------Heading-->
<div class="pack-one">
    <h1>Package one<br>£25.00 </h1>
    <h2>Everything you need to know about Baking</h2>
</div>

<!---------------------------------------------Image-->
<img src="https://2f35da97a9ad36d49db6-4d1987fef3a36cccd5478db4931039f0.ssl.cf3.rackcdn.com/assets/media/2021/04/SocialMedia_Americas_BeyondBakedGood_Blog_1000x305.jpg"
    class="img-fluid" alt="Responsive image">


<div class="container pack-one">
<!---------------------------------------------Information about course content-->
<h2><i class="fas fa-cookie-bite"></i> What's included in this package?</h2>
<p>hhh</p>
<p>gggg</p>
<p>gggg</p>
<p>sgdhdh</p>

<!---------------------------------------------Add to basket button-->
<a href="#" class="btn btn-primary">ADD TO BASKET <i class="fas fa-shopping-cart"></i></a>
</div>
{% endblock %}